<p id="notice"><%= notice %></p>


<div id="trump_tweets_div">
  <a
  class="twitter-timeline"
  href="https://twitter.com/realDonaldTrump">
  Tweets by Trump
  </a>
</div>

<div id='monthly_tweet_info'>
  <ul>
    <% TwitterApi.our_public_tweets.each do |tweet| %>
      <li><%=tweet.text %></li>
    <% end %>
  </ul>
</div>

<div id='monthly_tweet_info'>
  <ul>
    <% TwitterApi.our_public_tweets.each do |tweet| %>
      <li><%=tweet.user.name %></li>
    <% end %>
  </ul>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>