<p id="notice"><%= notice %></p>


<div id="trump_tweets_div">
  <a
  class="twitter-timeline"
  href="https://twitter.com/realDonaldTrump">
  Tweets by Trump
  </a>
</div>

<div id='monthly_tweet_info'>
  This is gong to display the monthly information about number of tweets as well as ther classification
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>